bandit==1.7.0
click==7.1.2
gitdb==4.0.5
GitPython==3.1.14
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pbr==5.5.1
PyYAML==5.4.1
six==1.15.0
smmap==3.0.5
stevedore==3.3.0
threaded==4.1.0
Werkzeug==1.0.1
